<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{>headerLinks}}
</head>
<body>
     {{!--  in react we call it components, in express it works as a partials --}}
    {{>header}}  
    <h1>finally, dynamic content with express Hurrayayayay...!</h1>
    {{>footer}}
</body>
</html>